// Color
$BLACK: hsla(291, 0%, 18%,1);
$TEXT: hsla(291, 0%, 18%,0.95);
$LIGHT: hsla(291, 0%, 18%,0.4);
$CALM: hsla(291, 0%, 18%,0.3);
$SMOKE: hsla(291, 0%, 18%,0.2);
$WHITE_SMOKE: hsla(291, 0%, 18%,0.08);
$WHITE: #fff;
$LINK: #3264a8;
$LINK_HOVER: #ff5252;
$RED: #fb251b;

// Space
$SPACING_XSMALL: 4px;
$SPACING_SMALL: 8px;
$SPACING_MEDIUM: 16px;
$SPACING_LARGE: 24px;
$SPACING_XLARGE: 32px;

@mixin breakpoint($point) {
  @if $point == huge {
    @media (min-width: 1280px) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == small {
    @media (max-width: 480px) {
      @content;
    }
  }
}
