@import '../styles/defs';

ul {
  list-style: circle;
  margin-left: 1em;
  margin-bottom: 0;
}

.resume-body {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 256px;
  -moz-column-width: 256px;
  column-width: 256px;
  -webkit-column-rule: 1px dotted $SMOKE;
  -moz-column-rule: 1px dotted $SMOKE;
  column-rule: 1px dotted $SMOKE;
}

.section {
  display: inline-block;
  width: 100%;
}

.section-title-container {
  display: inline-block;
  width: 100%;
}

.section-title {
  margin: $SPACING_SMALL $SPACING_XSMALL;
}

.section-bar {
  background-color: $RED;
  height: $SPACING_XSMALL;
  margin: $SPACING_XSMALL;
}

.entry {
  color: $LIGHT;
  display: flex;
  flex-direction: column;
  margin: $SPACING_SMALL;
}

.entry-title {
  margin: $SPACING_SMALL 0;
  line-height: 1.25;
}

.entry-company {
  color: $TEXT;
  margin: $SPACING_XSMALL 0;
  line-height: 1.25;
}

.entry-duration {
  color: $BLACK;
  margin-bottom: $SPACING_MEDIUM;
  font-size: 14px;
  font-style: italic;
}

.entry-description {
  color: $TEXT;
  font-size: 14px;
  line-height: 1.7em;
  margin-bottom: $SPACING_SMALL;
}

.title-section-description {
  margin: $SPACING_MEDIUM 0;
  max-width: 380px;
  text-align: center;
}

.icon-section {
  display: flex;
  justify-content: center;
  margin-bottom: $SPACING_LARGE;
}

.link-icon {
  margin-right: $SPACING_MEDIUM;
}

.profile-image {
  border: none;
  margin: $SPACING_MEDIUM auto;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}
