
.resume {
  display: flex;
}

@media (max-width: 500px){
  .resume {
    flex-direction: column;
  }
}

.section-title {
  margin: 0.25em;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  margin: 0.25em;
}

.job {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin: 0.25em;
}

.job-title {
  margin: 0.25em 0;
  line-height: 1.25;
}

.section-bar {
  height: 0.25em;
  background-color: #fb251b;
  margin: 0.25em;
}

.entity {
  margin-bottom: 0.25em;
}

ul {
  list-style: circle;
  margin-left: 1em;
  margin-bottom: 0;
}

.duration {
  margin-bottom: 1em;
}

.description {
  font-size: 14px;
  line-height: 1.7em;
  margin-bottom: 0.25em;
}
