
.resume {
  padding: 0.25em;
  display: flex;
}

.section-title {
  margin: 0.25em;
}

.column {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0.25em;
}

.job {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin: 0.25em;
}

.job-title {
  margin: 0.25em 0;
  line-height: 1.25;
}

.section-bar {
  height: 0.25em;
  background-color: #fb251b;
  margin: 0.25em;
}

.duration {
  margin-bottom: 1em;
}
