@import '../styles/defs';

.post-list-item {
  border-left: 2px solid $SMOKE;
  padding: $SPACING_SMALL;
}

.title-container {
  display: flex;
  flex-direction: column;

  @include breakpoint(medium) {
    flex-direction: row;
  }
}

.list-item {
  font-size: 18px;
  margin-right: $SPACING_SMALL;
  font-weight: 600;
}

.post-date {
  display: block;
  font-size: 18px;
  color: $DARK_GRAY;
  font-style: italic;
}

.blue {
  background-color: $BLUE;
}

.green {
  background-color: $GREEN;
}

.post-type-container {
  display: flex;
  justify-content: flex-start;
  margin-right: $SPACING_SMALL;

  @include breakpoint(medium) {
    align-items: center;
    justify-content: center;
  }
}

.post-type {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: $SPACING_SMALL;
  min-width: 50px;
  height: 22px;
  color: $WHITE;
  border-radius: 2px;

  @include breakpoint(medium) {
    margin: 0 0 0 $SPACING_SMALL;
  }
}
